.body
{
	margin: 0px;
	padding:0px;
	border:0px;
	background-color:black;
}
img
{
   /* width:100%;
    height:100%;*/
}
.maleslike
{
	top:0px;
	left:0px;
	width:100px;
	height:100px;
	margin:0px;
	border:0px;
}
.redtekst
{
	position:absolute;
	/*background-color: purple;*/
    text-align: center;
	top:0px;
	left:100px;
	width:300px;
	height:100px;
	z-index:20;
	font-size:20px;
	font-family:Bookman Old Style;
}
.pozadina
{	
	margin: auto;
	position:absolute;
	width:100%;
	height:auto;
	z-index:10;
}
.resultbackground
{
	left:20px;
	top:10px;
	position:absolute;
	width:577px;
	height:1016px;
	z-index:11;
	border:3px solid;
}
.locator 
{
	position:absolute;
	background-color: darkgoldenrod;
    text-align: center;
	top:20px;
	left:900px;
	width:200px;
	height:50px;
	z-index:30;
}
.foursquare
{
	position:absolute;
	background-color: green;
    text-align: center;
	top:150px;
	left:900px;
	width:200px;
	height:100px;
	z-index:20;
}
.container
{
	position:absolute;
	top:20px;
	left:100px;
	width:500px;
	height:1000px;
	z-index:50;
}
.redjedan
{
	position:absolute;
	top:0px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.reddva
{
	position:absolute;
	top:100px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redtri
{
	position:absolute;
	top:200px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redcetiri
{
	position:absolute;
	top:300px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redpet
{
	position:absolute;
	top:400px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redsest
{
	position:absolute;
	top:500px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redsedam
{
	position:absolute;
	top:600px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redosam
{
	position:absolute;
	top:700px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.reddevet
{
	position:absolute;
	top:800px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.reddeset
{
	position:absolute;
	top:900px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.containerq
{
	position:absolute;
	top:20px;
	left:400px;
	width:400px;
	height:1000px;
	z-index:100;
}
.maleslikeq
{
	top:0px;
	left:0px;
	width:100px;
	height:100px;
	margin:0px;
	border:0px;
}
.redtekstq
{
	position:absolute;
	/*background-color: purple;*/
    text-align: center;
	top:0px;
	left:100px;
	width:300px;
	height:100px;
	z-index:20;
	font-size:20px;
	font-family:Bookman Old Style;
}
.redjedanq
{
	position:absolute;
	
  
	top:0px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.reddvaq
{
	position:absolute;
	
    
	top:100px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redtriq
{
	position:absolute;
	
   
	top:200px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redcetiriq
{
	position:absolute;
	
    
	top:300px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redpetq
{
	position:absolute;
	
   
	top:400px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redsestq
{
	position:absolute;
	
   
	top:500px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redsedamq
{
	position:absolute;
	
   
	top:600px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.redosamq
{
	position:absolute;
	
    
	top:700px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.reddevetq
{
	position:absolute;
	
    
	top:800px;
	left:0px;
	width:400px;
	height:100px;
	z-index:20;
}
.reddesetq
{
	position:absolute;

   
	top:900px;
	left:0px;
	width:400px;
	height:100px;
}